/* DEFAULTS */
:root { 
  --footer-height: 25rem;
  --pad-big: 5rem;
  --pad-double: 3rem;
  --pad-single: 1.5rem;
  --pad-micro: .75rem;
  --max-width-small: 62rem;
  --max-width-medium: 80rem;
  --max-width-large: 96rem;
  --max-width-xl: 140rem;
  --header-height: 5rem;
}

@media (--lg) {
  :root {
    --pad-big: 6rem;
    --pad-double: 4rem;
    --pad-single: 2rem;
    --pad-micro: 1rem;
    --header-height: 6rem;
    --footer-height: 25rem;
  }
}

@media (--xl) {
  :root {
    --pad-big: 6rem;
    --pad-double: 4rem;
    --pad-single: 2rem;
    --pad-micro: 1rem;
    --header-height: 6rem;
    --footer-height: 25rem;
  }
}
